# Настройки Google API
GOOGLE_APPLICATION_CREDENTIALS=antigravity-market-analytics-695242fe8429.json

# Настройки GigaChat API
GIGACHAT_CLIENT_ID=ваш_client_id
GIGACHAT_AUTH_KEY=ваш_authorization_key
GIGACHAT_SCOPE=GIGACHAT_API_PERS

# Настройки папок Google Drive
GOOGLE_DRIVE_ROOT_FOLDER_ID=id_вашей_папки_antigravity_analytics

# ID Мастер-таблиц селлеров (формат: SELLER_1_SHEET_ID, SELLER_2_SHEET_ID, ...)
SELLER_1_SHEET_ID=id_мастер_таблицы_первого_селлера
# SELLER_2_SHEET_ID=
# SELLER_3_SHEET_ID=
